.btn {
    font-size: 0.8rem;
    color: $text-red;
    border: 2px solid $text-red;
    border-radius: 3px;
    padding: 0.5rem 1.25rem;
    width: fit-content;
    &:hover {
        cursor: pointer;
    }
    &--bold {
        font-weight: 900
    }
}