* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $bg-gray;
}

body {
    font-family: "Open Sans", sans-serif;
}

hr {
    background-color: $bg-gray--light2;
}