.hero {
    font-family: "Roboto Slab", serif;
    margin: 1.25rem 0 2.5rem 0;
    &__title {
        font-size: 1rem;
        margin: 1rem 0;
        &::after {
            margin-top: 1rem;
            width: 190%;
        }
        span {
            color: $text-gray--light;
        }
    }
    &__image {
        margin: 2rem 0;
    }
    &__subtitle {
        font-size: 1.5rem;
        &::after {
            display: none;
        }
    }
    h5 {
        color: $text-gray--light;
    }
    p {
        font-size: 0.8rem;
        color: $text-gray;
        margin: 1rem 0;
        line-height: 1.25rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    .hero {
        &__content {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        &__image {
            width: 50%;
        }
        &__subtitle {
            font-size: 2.5rem;
        }
    }
}