nav {
    ul {
        li {
            list-style-type: none;
            margin: 0.75rem 0;
            a {
                font-size: 0.9rem;
                color: $text-black--light;
                display: inline-block;
                cursor: pointer;
            }
            &::after {
                content: "";
                display: block;
                border-bottom: 0.2px solid $bg-gray-light2;
                margin-top: 3%;
            }
        }
        li.submenu {
            background: url('../assets/images/down-arrow.png') no-repeat;
            background-size: 0.75rem;
            background-position: top 15% right 2%;
        }
    }
}

.sidenav {
    &-features {
        margin: 2rem 0;
        &__item {
            margin: 1rem 0;
            p {
                font-size: 0.8rem;
                color: $text-gray;
                margin: 1rem 0;
                line-height: 1.25rem;
                padding-bottom: 1rem;
            }
        }
    }
}

.getintouch {
    &-body {
        font-size: 0.8rem;
        color: $text-gray;
        margin: 1rem 0;
        line-height: 1.25rem;
        padding-bottom: 1rem;
    }
    &-option {
        margin: 1rem 0;
        font-size: 0.9rem;
        color: $text-gray;
        display: flex;
        align-items: center;
        gap: 1rem;
        &--big {
          margin: 2rem 0;
          align-items: flex-start;  
        }
        img {
            display: inline;
            width: 1.5rem;
        }
    }
}

footer {
    color: $text-gray;
    font-size: 0.8rem;
    color: $text-gray;
    margin: 1rem 0;
    line-height: 1.25rem;
    padding-bottom: 1rem;
    a {
        cursor: pointer;
        color: $text-gray;
        border-bottom: 2px dotted $text-gray;
    }
}

.hamburger-menu {
    background-color: $text-gray--light;
    width: 2rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 1rem;
    }
}

.social-items {
    display: flex;
    align-self: flex-end;
    span {
        margin: 0.35rem;
        img {
            width: 1rem;
        }
    }
    
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}