nav {
    font-family: "Roboto Slab", serif;
    
    ul {
        li {
            list-style-type: none;
            margin: 0.75rem 0;
            a {
                color: $text-black--light;
                text-decoration: none;
                display: inline-block;
                cursor: pointer;
            }
            &::after {
                content: "";
                display: block;
                border-bottom: 1px solid $text-gray--light;
                width: 115%;
                margin-top: 3%;
            }
        }
    }
}