h1 {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 1.125rem;
    color: $text-black-light;
}

h1::after {
    content: '';
    display: block;
    border-bottom: 3px solid $text-red;
    border-radius: 2px;
    width: 120%;
    margin-top: 5%;
}