aside {
    font-family: "Roboto Slab", serif;
    margin: 0 2%;
}

img {
    border-radius: 5px;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;   
}

.email {
    cursor: pointer;
    color: $text-gray;
    border-bottom: 2px dotted $text-gray;
}

.hide {
    display: none;
}

.social-items {
    display: flex;
    span {
        margin: 0.35rem;
        img {
            width: 1.1rem;
        }
    }
    
}


