img {
    border-radius: 5px;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;   
}

.email {
    cursor: pointer;
    color: $text-gray;
    border-bottom: 2px dotted $text-gray;
}

.hide {
    display: none;
}

.spacer {
    margin: 0 5%;
}

@media only screen and (min-width: 1024px) {
    .spacer {
        width: 60vw;
        margin: 0 1%;
    }
}


