// Background colors
$bg-gray: #f5f6f7;
$bg-gray--light: #eff1f2;
$bg-gray-light2: #e0e1e3;

// Text Colors
$text-gray: #7f888f;
$text-black: #000000;
$text-black--light: #3d4449;
$text-red: #f56a6a;
$text-gray--light: #9fa3a6;

// General Colors
$white: #ffffff;

